@model Rentley.Models.Rents

@{
    ViewData["Title"] = "Rent_Request";
    Layout = "~/Views/Shared/Renter_Nav.cshtml";
}

<style>
    a {
        color: inherit;
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h1 class="logo1">Rent<span>ley</span></h1>
            <br><br><br>
        </div>

        <div class="col-6 cen">
            <section class="single-prod">
                <h1 class="head1">Your's Renter</h1>
            </section>

            <section class="prods row" style=" width: 97%;">

                <div class="col-6">
                    <!-- prod 1 -->
                    <div class="card mb-3 prod" style="width: 100%;">
                        <a href="#">
                            <img src="./assets/Images/Products/Cam 1.png" class="card-img-top rounded-start "
                                 alt="..."
                                 style="display: block; margin: 0 auto; width: 80%; height: 15%; margin-top: 2vh;">

                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 1vw;">Product Name</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="g-text" style="font-size: 1vw;">Under Review</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="g-text" style="font-size: 1vw">Price: <span>PKR.500/hr</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <img src="./assets/Images/Product Owner/Owner.png" alt=""
                                             style="height: 5vh; width: 4vw;">
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-9">
                                        <p class="g-text" style="font-size: 1vw;">Product <span>Owner</span></p>
                                        <p style="font-size: 1vw;">Verified</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- prod 1 -->
                </div>

            </section>
        </div>

        <div class="col-3">

        </div>
    </div>
</div>



